body {
  margin: 0;
}
.container {
  max-width: 1128px;
  margin: 0 auto;
  padding: 24px 15px;
}

.gallery {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  margin-bottom: 24px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  cursor: pointer;
  transition:
    transform 250ms ease,
    box-shadow 250ms ease;
}

.basicLightbox {
  background-color: rgba(46, 47, 66, 0.8);
}
.basicLightbox img {
  max-width: 1112px;
  width: 100%;
  height: auto;
}
